@keyframes lang-show {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes lang-hide {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        transform: translateX(-30px);
    }
}
@keyframes fill {
    0% {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        stroke: #000;
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        stroke: transparent;
    }
}
@keyframes stroke {
    0% {
        stroke: #000;
    }
    100% {
        stroke: transparent;
    }
}
.logo {
    position: relative;
    &--static {
        position: absolute;
        top: 0;
        left: 0;
        stroke: #000;
        animation: stroke 1.5s forwards;
    }
    &--active {
        position: absolute;
        top: 0;
        left: 0;
        fill: black;
        animation: fill 1.5s forwards;
    }
}
